@import url("https://fonts.googleapis.com/css?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css?family=Merriweather&display=swap");
@import url("https://fonts.googleapis.com/css?family=Work+Sans&display=swap");

html {
  /* background-color: rgb(255, 247, 250); */
  background-color: lavenderblush;
  /* font-family: "Merriweather", serif; */
  font-family: "Work Sans", serif;
}

/* * {
    font-family: "Open Sans", sans-serif;
  } */

body {
  margin: 0;
}

* {
  --primary-color: #dc2df3;
  --text-color-light: #d4d4d4;
  --text-color: #4a4a4a;
}
